.containerForgotPasswordPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}
.containerForgotPasswordPage > form {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.containerRegisterReset {
    display: flex;
    align-items: center;
    column-gap: 8px;
    justify-content: center;
}
.linkStyle {
    text-decoration: none;
    color: #4C4CFF;
}